input {
    // Omitting touchpad settings disables them, or leaves them at their default values.
    touchpad {
        off
    }

    mouse {
        // Disable acceleration.
        accel-profile "flat"

        // Faster scrolling with the mouse wheel.
        scroll-factor 2.0
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // focus-follows-mouse
}

// Setup Workspaces For Display DP-2
workspace "Common" {
    open-on-output "DP-2"
}
workspace "ADE-Devel" {
    open-on-output "DP-2"
}
workspace "OzRust Devel" {
    open-on-output "DP-2"
}

// Setup Workspaces For Display HDMI-A-1
workspace "Browsers" {
    open-on-output "HDMI-A-1"
}
workspace "Chat" {
    open-on-output "HDMI-A-1"
}
workspace "Secret" {
    open-on-output "HDMI-A-1"
}

prefer-no-csd

spawn-sh-at-startup "swaybg -m fill -i ~/.config/wallpapers/space-planet-science-night-generated-by-ai.jpg"
spawn-at-startup "waybar"

//Window Rules

// Secrets Management
window-rule {
    match app-id="1password"
    block-out-from "screen-capture"
    open-on-workspace "Secret"
    opacity 0.75
}

// Browsers
window-rule {
    match app-id="vivaldi-stable"
    open-on-workspace "Browsers"
    opacity 0.75
}

window-rule {
    match title="Picture-in-Picture"
    match app-id="firefox"
    block-out-from "screencast"
    open-on-output "DP-2"
    default-column-width { proportion 0.5; }
    opacity 1.0
}

// Chat Apps 
window-rule {
    match app-id="discord"
    open-on-workspace "Chat"
    opacity 0.75
}