input {
    // Omitting touchpad settings disables them, or leaves them at their default values.
    touchpad {
        off
    }

    mouse {
        // Disable acceleration.
        accel-profile "flat"

        // Faster scrolling with the mouse wheel.
        scroll-factor 2.0
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // focus-follows-mouse
}

// Setup Workspaces For Display DP-2
workspace "Common" {
    open-on-output "DP-2"
}
workspace "ADE-Devel" {
    open-on-output "DP-2"
}
workspace "OzRust Devel" {
    open-on-output "DP-2"
}

// Setup Workspaces For Display HDMI-A-1
workspace "Browsers" {
    open-on-output "DP-2"
}
workspace "Chat" {
    open-on-output "DP-2"
}
workspace "Secret" {
    open-on-output "DP-2"
}

prefer-no-csd

spawn-sh-at-startup "swaybg -m fill -i ~/.config/wallpapers/space-planet-science-night-generated-by-ai.jpg"
spawn-at-startup "waybar"

window-rule {
    match app-id="com.1password.1password"
    opacity 0.75
}

window-rule {
    match app-id="mpv"
    match title="swayimg"
    opacity 1.0
}

// Revist this
// window-rule {
//   match app-id="foot$"
//   match app-id="thunar$"
//   match app-id="mpv$"
//   match app-id="geany$"
//   match app-id="org.qutebrowser.qutebrowser$"
//   match app-id="librewolf$"
//   open-maximized true
//   // default-column-width { fixed 1300; }
//}