 input {
    // Omitting touchpad settings disables them, or leaves them at their default values.
    touchpad {
        // Tapping anywhere registers a left click.
        tap

        // Inverted scrolling.
        natural-scroll

        // Disable acceleration.
        accel-profile "flat"
    }

    mouse {
        // Disable acceleration.
        accel-profile "flat"

        // Faster scrolling with the mouse wheel.
        scroll-factor 2.0
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    focus-follows-mouse
}

workspace "Development"
workspace "Brwoser"

prefer-no-csd

spawn-sh-at-startup "swaybg -m fill -i ~/.config/wallpapers/space-planet-science-night-generated-by-ai.jpg"
spawn-at-startup "waybar"
//spawn-at-startup "gammastep"
//spawn-at-startup "nwg-panel"
//spawn-at-startup "pipewire"
//spawn-at-startup "wireplumber"
//spawn-at-startup "pipewire-pulse"
//spawn-at-startup "nm-applet" "--indicator"
//spawn-at-startup "mako"
//spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
//spawn-at-startup "udiskie" "-ans"
//spawn-at-startup "batterynotify.sh"
//spawn-at-startup "/home/kkm/.config/niri/swayidle.sh"
//spawn-at-startup "/home/kkm/.config/niri/swaybg.sh"
//spawn-at-startup "waybar" "-c" "/home/kkm/.config/niri/waybar/config" "-s" "/home/kkm/.config/niri/waybar/style.css"

window-rule {
    match app-id="com.1password.1password"
    opacity 0.75
}

window-rule {
    match app-id="mpv"
    match title="swayimg"
    opacity 1.0
}

// Revist this
// window-rule {
//   match app-id="foot$"
//   match app-id="thunar$"
//   match app-id="mpv$"
//   match app-id="geany$"
//   match app-id="org.qutebrowser.qutebrowser$"
//   match app-id="librewolf$"
//   open-maximized true
//   // default-column-width { fixed 1300; }
//}